{% extends "ProyectoWebApp/base.html" %}

{% load static %}
{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/blog.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">INICIO</span>
            <span class="section-heading-lower">Este es nuestro blog</span>
          </h2>
          <p class="mb-3">Aqui puedes acceder a nuestro blog.
          </p>
         
        </div>
      </div>
    </div>
  </section>
  <div><p></p></div>
{% endblock %}

  